
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('img/akaBackground.jpg'); 
    background-size: cover; 
    background-position: center;
}

.container {
    width: 70%;
    height: 70%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Bílý průhledný pozadí pro viditelnost textu */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageFullScreen {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
    width: auto;
}

canvas {
    width: auto; 
    height: 100%; 
    display: block;
}

select, input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    width: 80%;
    display: block;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255); /* Průhledné pozadí polí */
    border-radius: 5px;
    text-align: center;
    color: black;
    border: 2px solid gray;
}

select:focus, input[type="date"]:focus {
    outline: none;
}


button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;
}