@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    background-color: #EFEFEF;
    height: 100vh;
}

svg {
    width: 100%;
    height: 100%;
}

path {
    stroke: #2A2E36; 
    stroke-width: 0.3; 
    fill: none; 
  }

.circuit-div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circuit-info-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-circuit {
    flex: 12;
}

.info {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.chronometer-laps {
    font-family: 'Open Sans';
    font-size: 4vh;
    color: #2A2E36;
}

.controls-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speedometer-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.speedometer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 32vh;
    color: #9c2f2f;
    line-height: 20vh;
}

.units {
    font-family: 'Open Sans';
    font-size: 5vh;
    color: #2A2E36;
}

.pedals-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}